* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.main_wrapper {
    margin: 0 auto;
    width: 1170px;
    padding: 0 40px;
}

header {
    display: flex;
    height: 70px;
    background: rgb(56, 147, 101);
    top: 0;
}
.main_wrapper > img {
     width: 25%;
}

.main_menu > ul > li {
     display: inline-block;
}

header .main_wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 100%;
}

.main_menu > ul > li > a {
    color: white;
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    position: relative;
}

.main_menu > ul > li > a::after {
    content: "";
    width: 10%;
    height: 2px;
    background: rgb(8, 91, 61);
    position: absolute;
    left: 0;
    right: 0;
    margin: 0 auto;
    top: 25px;
    transition-duration: 0.5s;
    opacity: 0;
}

.main_menu > ul > li > a:hover::after {
    width: 100%;
    opacity: 1;
}

.main_board .main_wrapper {
    display: flex;
    align-items: center;
    height: 100%;
    position: relative;
    background-color: white;
    padding: 0px 0px;
    margin: 0px 0px 0px 223px;
}


.main_board {
    background: url(src/background.jpg);
    background-size: 20%;
    background-position: 50% -50px;
    position: relative;
}

.main_board_left_block{
    background-color: white;
}

.main_board_left_block a{
    display: block;
    width: 212%;
}

.menu > li{
    padding: auto;
    margin: 0;
    list-style-type: none;
}

.main_board_left_block > ul > li > a{
    color:rgb(8, 91, 61);
    text-decoration: none;
    font-weight: 400;
    letter-spacing: 1px;
    margin-right: 15px;
    font-family: 'Roboto', sans-serif;
    font-size: 15px;
    padding: 20px 0px 15px 15px;
}

.main_board_left_block > ul > li > a:hover{
    color: white;
}


.main_board_left_block > ul > li > a:hover{
    background-color:rgb(8, 91, 61);
}

.main_board_right_block {
    color:rgb(56, 147, 101);
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 25px;
    line-height: 55px;
    padding: 10px 0px 0px 155px;
}










